{% extends "base.html" %}
{% block content %}
<!-- register starts
================================================== -->
<div class="row">
<div class="col-lg-4 offset-md-4 col-md-4 offset-md-4 col-sm-6 offset-md-4">
<!-- <form method="POST" action="." novalidate="">
  <input id="csrf_token" name="csrf_token" type="hidden" value="IjgxNTU4YzJkZTJiMGQxYjJhMzViNzgyMWIzM2FlNjkwYTVhNjk5Nzki.DTRgnA.vYEs7m0Cyy4WcUa8ZocvgTxXbDo">
    <input id="next_url" name="next_url" type="hidden" value="/">

  <input class="hide" id="remember" name="remember" type="checkbox" value="y">
      <div class="form-group ">
    <label class="control-label" for="email">Email</label>
      <input autofocus="" class="form-control input-lg" id="email" name="email" type="email" value="">
  </div>
    <div class="form-group ">
    <label class="control-label" for="password">Password</label>

    <div class="input-group input-group-lg">
      <input autocomplete="off" class="form-control" id="password" name="password" type="password" value="">
      <span class="input-group-btn">
        <button class="btn btn-default btn-password-show" type="button" data-target="#password" data-toggle="button" title="Show/Hide Password" tabindex="-1">
          <span class="fa fa-eye"></span>
        </button>
      </span>
    </div>
  </div>
</form> -->
<h1 class="text-muted text-center">Sign up</h1>
<p class="text-xs-center">Already have an account? <a class="" href="/awt/login">Sign in</a></p>
    <div class="text-center">
      <a class="btn btn-block btn-social btn-google" href="#" title="Sign in with Google" rel="nofollow">
        <span class="fa fa-google"></span>Register with Twitter
      </a>
    <a class="btn btn-block btn-social btn-facebook" href="#" rel="nofollow">
    <span class="fa fa-facebook"></span> Register with Facebook
  </a>
  <a class="btn btn-block btn-social btn-twitter">
    <span class="fa fa-twitter"></span> Register with Twitter
  </a>
  </div>
  <!-- <div class="form-group">
    <div class="btn-group btn-group-justified form-control-static">
      <a class="btn btn-link btn-xs ellipsis" href="/user/forgot/">Forgot password?</a>
      <a class="btn btn-link btn-xs ellipsis" href="/signup/?next=%2F">Create new account</a>
    </div>
  </div> -->
        <hr>
        <!-- <div class="checkbox remember pull-right">
          <label><input type="checkbox" checked="">Keep me signed in</label>
        </div> -->
      </div>
    </div>

  <!-- register ends
  ================================================== -->
{% endblock %}
