
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<link rel="icon" href="/static/img/favicon.ico" >
<title>Nepali Sahitya - A platform to write your creation in Nepali</title>
<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="/static/css/login.css" rel="stylesheet"> -->
<link href="/static/css/bootstrap-social.css" rel="stylesheet">
<!-- Fonts -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<!-- Custom styles for this template -->

<link href="/static/css/mediumish.css" rel="stylesheet">
</head>
<body>

<!-- Begin Nav -->
<!-- ================================================== -->
<div class="container">

Welcome to Nepali Sahitya
  {% if user.is_authenticated %}
    wolla wolla
  {% endif %}

</div>
<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
